

.btn-outline-success{
    border-color: #a39aff;
    color: #a39aff;
    font-weight: bolder;
}
.btn-outline-success:hover{
    background-color: #a39aff !important;
}

.navigation_menu ul li .same{
    color: #a39aff !important;
}
.slider{
    margin-top: 40px;
}
.search{
    border: 1px solid #a39aff;
    color: #a39aff;
}

/* cards */
*{
    font-family: 'Poppins', sans-serif;
     -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
img {
    pointer-events: none;
}
.movie_card{
    padding: 0 !important;
    width: 20rem;
    margin:14px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 24rem;
}
.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}
.card-title{
    width: 80%;
    height: 3rem;
}
.play_button{
    background-color: #ff3d49;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
    bottom: 111px;
    font-size: 27px;
    padding-left: 21px;
    padding-top: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.credits{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #8e24aa;
    font-size: 18px;
}
.credits .card-body{
    padding: 0;
}
.credits p{
    padding-top: 15px;
    padding-left: 18px;
}
.credits .card-body i{
    color: #8e24aa;
}
.one{
    background-color: whitesmoke;
    padding: 10px;
    color: #a39aff;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
    /* border:1px solid #a39aff; */
}
.text-center1{
    background-color: whitesmoke;
    padding: 10px;
    color: #a39aff;
    font-weight: bolder;
    border:1px solid #a39aff;
}
.text-center1:hover{
    background-color: #a39aff !important;
    border: none;
}
.load_more{
    text-align: center;
    margin-top: 100px;
}
.footer{
    margin-top: 100px;

}
.login{
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: white !important;
}
.footer ul li .same{
    color: #a39aff;
}
footer{
    border-top: 2px solid #a39aff;
}
.footer .same{
    color: #a39aff;
    font-weight: bolder;
}