tbody{
    color: #fff;
}
form{

    background-color:#6b5acd ;
}

h2,h1{
    color: #6b5acd;
    
}
#color{
    color: #65007d;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
